---
import Pagination from "../components/Pagination.astro"
import Share from "../components/Share.astro"
import { getFullPath, removeNumberPrefix } from "../helpers/path"
import type { Breadcrumb } from "../types/Breadcrumb"
import type { Lesson, LessonFrontmatter } from "../types/Course"
import Content from "./Content.astro"
import { YouTube } from "astro-embed"

type Props = LessonFrontmatter &
	Pick<Lesson, "slug"> & {
		previousLesson: Lesson | null
		nextLesson: Lesson | null
	}

const { title, description, cover, video, slug, nextLesson, previousLesson } =
	Astro.props

const lessonNo = slug.match(/\d+(?:\-\d+)?/) as unknown as string

const breadcrumbs: Breadcrumb[] = [
	{
		path: "/",
		label: "Home",
	},
	{
		path: "/course",
		label: "Course",
	},
	{
		path: null,
		label: lessonNo,
	},
]

let previousContent = undefined

if (previousLesson)
	previousContent = {
		path: getFullPath("course", removeNumberPrefix(previousLesson?.slug)),
		label: previousLesson?.data.title,
	}

let nextContent = undefined

if (nextLesson)
	nextContent = {
		path: getFullPath("course", removeNumberPrefix(nextLesson?.slug)),
		label: nextLesson?.data.title,
	}
---

<Content
	title={title}
	description={description}
	cover={cover}
	breadcrumbs={breadcrumbs}
>
	<div slot="content">
		{
			video && (
				<div class="video">
					<YouTube id={video} poster={cover} />
				</div>
			)
		}
		<slot />
		<br /><br />
		<Share category="lesson" text={title} />
		<hr />
		<br /><br />

		<Pagination nextContent={nextContent} previousContent={previousContent} />
	</div>
</Content>

<style lang="scss">
	.video {
		aspect-ratio: 1920 / 1080;
		width: 100%;
		position: relative;
		top: -70px;
		border: 4px solid var(--white-100);

		& > * {
			width: 100%;
			max-width: 100%;
		}
	}
</style>
