---
import Pagination from "../components/Pagination.astro"
import Share from "../components/Share.astro"
import { getFullPath, removeNumberPrefix } from "../helpers/path"
import type { Breadcrumb } from "../types/Breadcrumb"
import type { Lesson, LessonFrontmatter } from "../types/Course"
import Content from "./Content.astro"

type Props = LessonFrontmatter &
	Pick<Lesson, "slug"> & {
		previousLesson: Lesson | null
		nextLesson: Lesson | null
	}

const { title, description, cover, slug, nextLesson, previousLesson } =
	Astro.props

const lessonNo = slug.match(/\d+/) as unknown as string

const breadcrumbs: Breadcrumb[] = [
	{
		path: "/",
		label: "Home",
	},
	{
		path: "/course",
		label: "Course",
	},
	{
		path: null,
		label: lessonNo,
	},
]

let previousContent = undefined

if (previousLesson)
	previousContent = {
		path: getFullPath("course", removeNumberPrefix(previousLesson?.slug)),
		label: previousLesson?.data.title,
	}

let nextContent = undefined

if (nextLesson)
	nextContent = {
		path: getFullPath("course", removeNumberPrefix(nextLesson?.slug)),
		label: nextLesson?.data.title,
	}
---

<Content
	title={title}
	description={description}
	cover={cover}
  showCover={true}
	breadcrumbs={breadcrumbs}
>
	<div slot="content">
		<slot />
    <Share category="lesson" text={title} />
		<br /><br />

		<Pagination nextContent={nextContent} previousContent={previousContent} />
	</div>
</Content>