---
import Pagination from "../components/Pagination.astro"
import Share from "../components/Share.astro"
import { COVERS } from "../constants"
import { getFullPath } from "../helpers/path"
import type { Tip, TipFrontmatter } from "../types/Tip"
import Content from "./Content.astro"

type Props = TipFrontmatter & {
	previousTip: Tip | null
	nextTip: Tip | null
}

const { title, description, cover, nextTip, previousTip } = Astro.props

const breadcrumbs = [
	{
		path: "/",
		label: "Home",
	},
	{
		path: "/tips",
		label: "Tips",
	},
]

let previousContent = undefined

if (previousTip)
	previousContent = {
		path: getFullPath("tips", previousTip.slug),
		label: previousTip.data.title,
	}

let nextContent = undefined

if (nextTip)
	nextContent = {
		path: getFullPath("tips", nextTip.slug),
		label: nextTip.data.title,
	}
---

<Content
	cover={cover ?? COVERS.tips}
	breadcrumbs={breadcrumbs}
	title={title}
	description={description}
>
	<div slot="content">
		<slot />
		<Share category="tip" text={title} />
		<br /><br />
		<Pagination nextContent={nextContent} previousContent={previousContent} />
	</div>
</Content>
